:root {
 --bg-color: #5e5b5bad;
 --text-color: #333333;
 --bg-card: #d8e3ec;
 --bg-dark-mod: #212121;
 --bg-darkmod-card:#a8a8a8;
 --text-dark-mod:#f5f5f5;
 --color-hover-card:#96d9d6;
 --cor-grama:#7ac74c;
 --cor-veneno:#df67ddfb;
 --cor-fogo:#ee8130;
 --cor-agua:#6490f0;
 --cor-inseto:#a6b91a;
 --cor-webkit-scroll:#363636;
}